<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Dashboard</h1>
    <form action="/generate_chart" method="post">
      <label for="chart_type">Jenis Grafik:</label>
      <select name="chart_type" id="chart_type">
        <option value="" disabled selected>Pilih</option>
        <option value="per_toko">Keuntungan Bersih Per Toko</option>
        <option value="per_hari">Keuntungan Bersih Per Hari</option>
        <option value="per_barang">Keuntungan Bersih Per Jenis Barang</option>
      </select>
      <br />
      <input type="submit" value="Tampilkan Grafik" />
    </form>

    <h2>Grafik:</h2>
    <img src="{{ chart }}" alt="Grafik" width="600" height="400" />

    <br />
    <br />

    <h3>Test Chart.js by Sam</h3>
    <div>
      Current Default: PER TOKO (PILIH TOKO MANA)<br /><small
        class="text-secondary"
        >Contoh: Tampilkan keuntungan bersih di Toko A, per tanggal, per
        produk</small
      >
    </div>

    <div class="chart-container">
      <canvas id="data-visualization"></canvas>
    </div>

    <form action="/visualize_data" method="post">
      <div class="flex-container select-container">
        <!-- STORES -->
        <select
          name="select_store"
          id="select_store"
          class="form-select"
          disabled
        >
          <option value="">Select a Store</option>
          {% for store in stores %}
          <option value="{{ store['id'] }}">{{ store['name'] }}</option>
          {% endfor %}
        </select>
        <!-- STORES -->
        <!-- PRODUCT -->
        <select
          name="select_products"
          id="select_products"
          class="form-select"
          disabled
        >
          <option value="">Select a Product</option>
          {% for product in products %}
          <option value="{{ product['id'] }}">{{ product['name'] }}</option>
          {% endfor %}
        </select>
        <!-- PRODUCT -->
        <!-- DATES -->
        <select
          name="select_date"
          id="select_date"
          class="form-select"
          disabled
        >
          <option value="">Select a Date</option>
          {% for date in dates %}
          <option value="{{ date['id'] }}">{{ date['full_date'] }}</option>
          {% endfor %}
          <!-- DATES -->
        </select>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Visualize Data</button>
    </form>

    <!-- JS Code -->
    <script>
      const graphCanvas = document.getElementById("data-visualization");
      const chartContainer =
        document.getElementsByClassName("chart-container")[0];
      const rawData = "{{ graph_data }}"
        .replace(/&#39;/g, "'")
        .replace(/'/g, '"');
      if (!rawData) {
        graphCanvas.style.height = "0";
        let card = document.createElement("div");
        card.classList.add("card");

        let cardBody = document.createElement("div");
        cardBody.textContent = "Select a store name to display graph.";
        cardBody.classList.add("card-body", "text-secondary");

        card.appendChild(cardBody);
        chartContainer.appendChild(card);
      }
      const data = JSON.parse(rawData);
      //   console.log(data);
      //   console.log(JSON.parse(rawData));
      const myChart = new Chart(graphCanvas, {
        type: "bar",
        options: {
          animation: true,
          scales: {
            y: { ticks: { callback: (value) => `Rp ${value}` } },
          },
          plugins: {
            legend: {
              display: true,
            },
            tooltip: {
              enabled: true,
            },
          },
        },
        data: {
          labels: data.map((row) => row.x),
          datasets: [
            {
              label: "Keuntungan Bersih Per Toko",
              data: data.map((row) => row.y),
            },
          ],
        },
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
